@model Model.Gebruiker
@{
    ViewData["Title"] = "Toevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Post" enctype="multipart/form-data" method="post" class="form-horizontal">
    <fieldset>
        <legend></legend>
        <div class="form-group">
            <label class="control-label col-sm-3" for="UserName">Username: </label>
            <div class="col-sm-5 input-breed">
                <input class="form-control" type="text" id="UserName" name="UserName" value="Soepje" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="Wachtwoord">Wachtwoord: </label>
            <div class="col-sm-5 input-smal">
                <input class="form-control" type="text" id="Wachtwoord" name="Wachtwoord" value="1234" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="DeVoornaam">Voornaam:</label>
            <div class="col-sm-5 input-breed">
                <input class="form-control" type="text" id="DeVoornaam" name="DeVoornaam" value="Soep" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="DeAchternaam">Achternaam:</label>
            <div class="col-sm-5 input-breed">
                <input class="form-control" type="text" id="DeAchternaam" name="DeAchternaam" value="Kippen" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="Mobielnummer">MobielNummer:</label>
            <div class="col-sm-5 input-smal">
                <input class="form-control" type="text" id="Mobielnummer" name="Mobielnummer" value="063263529" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="Email">Email:</label>
            <div class="col-sm-5 input-smal">
                <input class="form-control" type="text" id="Email" name="Email" value="Soep@kippen.com" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="Gebortendatum">Geboortedatum:</label>
            <div class="col-sm-5 input-smal">
                <input class="form-control col-sm-10" type="date" id="Gebortendatum" name="Gebortendatum" value="06-19-1997" />
            </div>
        </div>
        <div class="from-group">
            <label class="control-label col-sm-3" for="Geslacht">Geslacht:</label>
            <div class="col-sm-5 input-smal">
                <select asp-for="@Model.hetGeslacht" asp-items="@{Html.GetEnumSelectList<Model.Gebruiker.Geslacht>();}" class="form-control col-sm-10">
                    <option value="0">None</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">&nbsp;</label>
            <div class="col-sm-10">
                <input type="submit" value="Verstuur" class="btn btn-default" />
                <a asp-area="" asp-controller="Gebruiker" asp-action="index" class="btn btn-default">ANNULEER</a>
            </div>
        </div>
    </fieldset>
</form>
