<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>ACCOUNT</h2>
                <div class="dashboardcontent-container">
                    <div class="glyphicon glyphicon-user account-image">
                        <div class="usericon-background"></div>
                    </div>
                    <p>Mautjee</p>
                </div>
                <div class="link-container">
                    <a asp-controller="Home" asp-action="LogOut" style="padding-right: 17%">UITLOGGEN</a>
                    <a>MIJN ACCOUNT ></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>Mijn Studentenhuis</h2>
                <div class="dashboardcontent-container">
                    <h1>Hallo</h1>
                </div>
                <div class="link-container">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>MELDINGEN</h2>
                <div class="dashboardcontent-container">
                    <div class="row row-flex dashboard-row">
                        <p class="row-date">12-1</p>
                        <p class="row-p">Martijn de wit heeft gereageert op jouw advertentie: "schuur 40m2"</p>
                    </div>
                    <div class="row row-flex dashboard-row">
                        <p class="row-date">10-1</p>
                        <p class="row-p">Piet van den Boom heeft gereageert op je bericht</p>
                    </div>
                </div>
                <div class="link-container">
                    <a>MELDINGEN ></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dasboard-container">
                <h2>MIJN ADVERTENTIES</h2>
                <div class="dashboardcontent-container">
                   
                </div>
                <div class="link-container">
                </div>
            </div>
        </div>
    </div>
</div>