@using KillerApp.View.Models;
@using Model;
@model StudentenHuisViewModel;
@{
    ViewData["Title"] = "Studentenhuis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/StudentHuisJS.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<div class="row">
    <div class="col-md-6">

        @if (!Model.checkLidVanStudentenhuis())
        {
            <h2>All Studentenhuizen</h2>
            <ul id="platformLinks">
                @foreach (StudentenHuis studhuis in Model.allestudentenhuizen)
                {
                    <li><a asp-action="StudentenhuisPartial" id="viewStudHuisDetailpartial" onclick="ShowGebruikersHuis(event)" asp-route-id="@studhuis.StudentenhuisID">@studhuis.Naam</a></li>
                }
            </ul>
            <a asp-action="NiewStudentenhuis" onclick="ShowGebruikersHuis(event)" class="btn btn-default">Voeg een studentenhuis toe</a>
        }
        else
        {
            <h3>Je bent nu actief lid van dit huis</h3>
            <H1><i>@Model.huidighuis.Naam</i></H1>

            <p>Weet je zeker dat je niet meer actief lid wilt zijn van dit huis druk dan op de onderstaande knop</p>
            <a asp-action="ChangeStudentenhuis" asp- class="btn btn-default">Word niet meer actief lid van dit Studentenhuis</a>


        }
    </div>
    <div class="col-md-6" id="HuisDetail">
    </div>

</div>
<h2> @Html.ValidationSummary(true)</h2>