<br />
<form asp-controller="Studentenhuis" asp-action="MakeNewStudentenhuis" method="post">

    <div class="form-group">
        <label class="control-label col-sm-10" for="Beschrijving">Naam van Het studentenhuis</label>
        <div class="col-sm-10 input-small">
            <input class="form-control col-sm-6" type="text" id="naamstudentenhuis" name="naamstudentenhuis" />
        </div>
    </div>
    <br />
    <div class="col-sm-10">
        <input type="submit" value="Maak niewe studentenhuis aan" class="btn btn-default" />
    </div>

</form>
