@using KillerApp.Model
@using KillerApp.View.Models
@model StudentenhuisDetailViewModel

<br />

<h2>Alle Bewoners in het Studentenhuis</h2>
<ul>
    @foreach (Bewonersaldo b in Model.VoornamenBewoners)
    {
        <li><h4>@b.Voornaam</h4></li>
    }
</ul>
<form asp-controller="Studentenhuis" asp-action="VoegGebrAanStudhuisToe" method="post">

    <input value="@Model.IngelogdeGebruiker.GebruikerID" type="hidden" id="IngelogdeGebruiker" name="IngelogdeGebruiker" />
    <input value="@Model.SelectedStudentenhuisID" type="hidden" id="studentenhuisid" name="studentenhuisid" />

    <div class="col-sm-10">
        <input type="submit" value="Voeg mij toe aan dit Studentenhuis" class="btn btn-default" />
    </div>

</form>
